Projeto RAG hibrida.json
{
  "name": "Projeto RAG hibrida",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -848,
        -160
      ],
      "id": "4c9e3de0-a493-488c-aba3-d08e66f9bded",
      "name": "When chat message received",
      "webhookId": "55167d3d-1ac6-4784-9d04-28ad5f80726e"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -576,
        -160
      ],
      "id": "0898ba85-9d06-42ba-8a7e-02453ee929f2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -624,
        64
      ],
      "id": "cee90a1c-7bd0-45f8-8da4-e9e7ec926747",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YQvK7ndcurOhEpBi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -496,
        64
      ],
      "id": "aa4485e9-3a10-4433-9839-2697164522c3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "Use essa tool para consultar os dados na vector store",
        "method": "POST",
        "url": "https://splglaoamlgjnoauafvg.supabase.co/functions/v1/Hybrid-search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNwbGdsYW9hbWxnam5vYXVhZnZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ3OTQ3MjksImV4cCI6MjA4MDM3MDcyOX0.QNVYKOwCiwAoOO8FPFBuS7-Xj5dXHyfg2DiyZ0ENRG0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -368,
        64
      ],
      "id": "a714093d-bcf9-4126-8b30-519bee97c044",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        -544
      ],
      "id": "4959bc12-0a8e-4980-9b9c-3eb305e6c32c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        144,
        -528
      ],
      "id": "5c190af1-3853-43b3-9b86-6f355dcf6186",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "57jpllWprD7QVmz4",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        -304
      ],
      "id": "a4bf8a96-f201-47c8-a86b-47f25339119c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YQvK7ndcurOhEpBi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.Produto }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        240,
        -304
      ],
      "id": "e44dda48-aa19-493a-87a2-dd2030708cac",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        352,
        -176
      ],
      "id": "0c2faeec-5821-4082-92e6-d3357db5bcae",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ihmGs7ieCORwJFuwKOlaoTMYngNc4TD0nzF60h2MvnQ",
          "mode": "list",
          "cachedResultName": "itens_tabela",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ihmGs7ieCORwJFuwKOlaoTMYngNc4TD0nzF60h2MvnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 281066729,
          "mode": "list",
          "cachedResultName": "itens_tabela.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ihmGs7ieCORwJFuwKOlaoTMYngNc4TD0nzF60h2MvnQ/edit#gid=281066729"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -512,
        -544
      ],
      "id": "d3a9627e-cee7-4962-b9c9-d2c3a29395f7",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pRukgvhoOd1ebO7J",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c754aed-c644-462b-b537-d4f5297050ab",
              "name": "Produto",
              "value": "=id: {{ $json.row_number - 1}};\nnome: {{ $json.Nome }};\nmarca: {{ $json.Marca }};\ngênero: {{ $json['Gênero'] }};\ndescrição: {{ $json['Descrição'] }};\ncategoria: {{ $json.Categoria }};\ncor: {{ $json.Cor }};",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        -544
      ],
      "id": "04cd1bda-2eeb-46a2-a215-3dfb0bad55bd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -96,
        -544
      ],
      "id": "8327c74a-8aea-4f2a-9495-e37aaf3c841b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        112,
        -736
      ],
      "id": "d7befe8b-9e7e-4950-91a0-665f205043b0"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        []
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "07be2695-7bbb-4227-8bf3-9dbbbf2fe67c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a17ed6e5a0aebbdb69f5fb37d5e50294ce03a3bb0f1b77ebdee469c4188d3c55"
  },
  "id": "ViyA042PQrKl8lk3",
  "tags": []
}